[workspace]
resolver = "2"
members = [
    "crates/core",
]

[workspace.package]
version = "0.2.0"
rust-version = "1.64"
authors = ["Paul Schoenfelder <paulschoenfelder@gmail.com>", "Thomas Sieverding <Thomas@bajix.com>", "Elle Imhoff <Kronic.Deth@gmail.com>"]
description = "Provides core, cross-platform functionality for LiveView Native implementations"
repository = "https://github.com/liveview-native/liveview-native-core"
homepage = "https://github.com/liveview-native/liveview-native-core"
documentation = "https://github.com/liveview-native/liveview-native-core"
categories = ["API bindings", "GUI"]
keywords = ["liveview", "phoenix"]
license = "Apache-2.0"
license-file = "LICENSE.md"
readme = "README.md"
edition = "2021"
publish = false

[profile.dev]
split-debuginfo = "unpacked"
debug = 2

[profile.release]
opt-level = 1
split-debuginfo = "packed"
debug = 1

[patch.crates-io]
uniffi = { git = "https://github.com/mozilla/uniffi-rs/", branch = "main" }
