[package]
name = "liveview-native-core"
version.workspace = true
edition.workspace = true
authors.workspace = true
description.workspace = true
repository.workspace = true
homepage.workspace = true
documentation.workspace = true
categories.workspace = true
keywords.workspace = true
license-file.workspace = true
readme.workspace = true
publish.workspace = true

build = "build.rs"

[lib]
crate-type = ["staticlib", "rlib"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cranelift-entity = "0.96"
fixedbitset = "0.4"
fxhash = "0.2"
html5gum = { git = "https://github.com/liveviewnative/html5gum", branch = "lvn" }
indexmap = { version = "1.7", features = ["std"] }
petgraph = { version = "0.6", default-features = false, features = ["graphmap"] }
smallstr = { version = "0.3", features = ["union"] }
smallvec = { version = "1.10", features = ["union", "const_generics", "specialization"] }
thiserror = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[build-dependencies]
Inflector = "0.11"

[dev-dependencies]
paste = "1.0"
text-diff = "0.4.0"
