name: macos

on: pull_request

env:
  CARGO_TERM_COLOR: always
  TOOLCHAIN: nightly

jobs:
  integration_tests:
    runs-on: macos-12

    steps:
      - uses: actions/checkout@v4
      - name: Install Rust Nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ env.TOOLCHAIN }}
          default: true
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git
            ~/.cargo/registry
            target
          key: ${{ github.workflow }}-${{ github.job }}-toolchain-${{ env.TOOLCHAIN }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --package liveview-native-core
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --package liveview-native-core
