name: Release

on:
  workflow_dispatch:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always
  TOOLCHAIN: nightly
  CARGO_MAKE_TOOLCHAIN: nightly
  # https://doc.rust-lang.org/cargo/guide/cargo-home.html#caching-the-cargo-home-in-ci
  CARGO_CACHE_PATH: |
    ~/.cargo/.crates.toml
    ~/.cargo/.crates2.json
    ~/.cargo/bin/
    ~/.cargo/registry/index/
    ~/.cargo/registry/cache/
    ~/.cargo/git/db/

jobs:
  build-wasm:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.TOOLCHAIN }}
          targets: wasm32-unknown-unknown
      - uses: taiki-e/install-action@v2
        with:
          tool: wasm-pack
      - uses: taiki-e/install-action@v2
        with:
          tool: wasm-bindgen

      - name: Build wasm for nodesjs
        working-directory: ./crates/wasm
        run: ./scripts/build.sh nodejs

      - name: Build wasm for web
        working-directory: ./crates/wasm
        run: ./scripts/build.sh web

      - uses: actions/upload-artifact@v4
        with:
          retention-days: 5
          name: liveview-native-core-wasm-web
          path: ./crates/wasm/liveview-native-core-wasm-web.tgz

      - uses: actions/upload-artifact@v4
        with:
          retention-days: 5
          name: liveview-native-core-wasm-nodejs
          path: ./crates/wasm/liveview-native-core-wasm-nodejs.tgz

  build-xcframework:
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v4
      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.TOOLCHAIN }}
          components: rust-src
          targets: aarch64-apple-ios-sim
            aarch64-apple-ios
            x86_64-apple-ios
            aarch64-apple-darwin
            x86_64-apple-darwin

      - uses: maxim-lobanov/setup-xcode@v1.6.0
        with:
          xcode-version: latest-stable

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.CARGO_CACHE_PATH }}
          key: cargo-${{ github.workflow }}-${{ github.job }}-${{runner.os}}-${{runner.arch}}-${{ hashFiles('**/Cargo.toml') }}

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-make
      - name: Build XCFramework
        run: |
          cargo make --profile release uniffi-xcframework
          ditto -c -k --sequesterRsrc --keepParent target/uniffi/swift/liveview_native_core.xcframework/ target/uniffi/swift/liveview_native_core.xcframework.zip

      - uses: actions/upload-artifact@v4
        with:
          retention-days: 5
          name: liveview_native_core.xcframework.zip
          path: ./target/uniffi/swift/liveview_native_core.xcframework.zip

  build-macos-jar:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.TOOLCHAIN }}
          targets: aarch64-apple-darwin

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          architecture: 'x64'

      - uses: gradle/actions/setup-gradle@v4

      - name: Build macOS libraries
        working-directory: ./crates/core/liveview-native-core-jetpack
        run: ./gradlew nativeLibJar

      - uses: actions/upload-artifact@v4
        with:
          retention-days: 5
          name: macos-libs
          path: ./crates/core/liveview-native-core-jetpack/core/build/libs/*.jar

  build-linux-jar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.TOOLCHAIN }}
          targets: x86_64-unknown-linux-gnu

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          architecture: 'x64'

      - uses: gradle/actions/setup-gradle@v4

      - name: Build Linux libraries
        working-directory: ./crates/core/liveview-native-core-jetpack
        run: ./gradlew nativeLibJar

      - uses: actions/upload-artifact@v4
        with:
          retention-days: 5
          name: linux-libs
          path: ./crates/core/liveview-native-core-jetpack/core/build/libs/*.jar

  release-documentation:
    runs-on: macos-15
    continue-on-error: true

    permissions:
      contents: write

    needs:
      - build-xcframework
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.TOOLCHAIN }}

      - uses: actions/download-artifact@v4
        with:
          name: liveview_native_core.xcframework.zip
          path: ./target/uniffi/swift/

      - name: Unzip xcframework
        working-directory: ./target/uniffi/swift/
        run: unzip liveview_native_core.xcframework.zip

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-make

      - name: Build XCFramework
        run: |
          mkdir -p ./docs/swift
          cargo make --profile release uniffi-swift-doc-web

      - name: Add index.html
        run: |
          echo '<meta http-equiv="refresh" content="0; url=docs/swift/documentation/liveviewnativecore/">
          <a href="docs/swift/documentation/liveviewnativecore/">Redirect</a>' > index.html

      - name: Checkout new gh-pages
        if: github.event_name == 'release'
        run: |
          git checkout -b gh-pages
          git add ./docs/ index.html
          git commit -m 'Update gh-pages'
          git push origin gh-pages --force


  tag-release:
    runs-on: macos-15

    permissions:
      contents: write

    needs:
      - build-xcframework
      - build-wasm
      - build-macos-jar
      - build-linux-jar
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.TOOLCHAIN }}

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-make

      - name: Build XCFramework
        run: |
          cargo make --profile release uniffi-swift-package

      - uses: actions/download-artifact@v4
        with:
          name: liveview_native_core.xcframework.zip
          path: ./target/uniffi/swift/

      - uses: actions/download-artifact@v4
        with:
          name: liveview-native-core-wasm-web
          path: ./crates/wasm/
      - uses: actions/download-artifact@v4
        with:
          name: liveview-native-core-wasm-nodejs
          path: ./crates/wasm/

      - run: ls ./crates/wasm/ ./crates/wasm/*

      - name: Update version and checksum of xcframework in Package.swift
        run: |
          ls -lah ./target/uniffi/swift/
          checksum=$(swift package compute-checksum ./target/uniffi/swift/liveview_native_core.xcframework.zip)
          version=${{ github.event.release.tag_name }}
          sed -i "" -E "s/(let releaseTag = \")[^\"]+(\")/\1$version\2/g" Package.swift
          sed -i "" -E "s/(let releaseChecksum = \")[^\"]+(\")/\1$checksum\2/g" Package.swift
          sed -i "" -E "s/let useLocalFramework = true/let useLocalFramework = false/g" Package.swift
          git add Package.swift
          git add -f ./crates/core/liveview-native-core-swift/Sources/LiveViewNativeCore/*.swift
          git diff --staged

      - name: Commit, tag and push swift package
        if: github.event_name == 'release'
        run: |
          git add Package.swift
          git add ./crates/core/liveview-native-core-swift/Sources/LiveViewNativeCore/*.swift
          git commit -m "Update Package.swift and add generated LiveViewNativeCore.swift to tracking"
          git tag -fa ${{ github.event.release.tag_name }} -m "Swift Package Release ${{ github.event.release.tag_name }}"
          git push origin ${{ github.event.release.tag_name }} --force

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release'
        with:
          files: |
            ./target/uniffi/swift/liveview_native_core.xcframework.zip
            ./crates/wasm/liveview-native-core-wasm-web.tgz
            ./crates/wasm/liveview-native-core-wasm-nodejs.tgz
            ./crates/core/liveview-native-core-jetpack/core/build/libs/liveview-native-core-darwin-aarch64.jar
            ./crates/core/liveview-native-core-jetpack/core/build/libs/liveview-native-core-linux-x86-64.jar
          draft: false
          prerelease: true
          tag_name: ${{ github.event.release.tag_name }}
