name: Uniffi Kotlin Package Tests

on: pull_request

env:
  CARGO_TERM_COLOR: always
  TOOLCHAIN: nightly

jobs:
  integration_tests:
    runs-on: ubuntu-latest # This is a beta runner

    steps:
      - uses: actions/checkout@v4
      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.TOOLCHAIN }}
          targets:
            armv7-linux-androideabi
            i686-linux-android
            x86_64-unknown-linux-gnu
            aarch64-apple-darwin
            x86_64-apple-darwin

      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git
            ~/.cargo/registry
            target
          key: ${{ github.workflow }}-${{ github.job }}-toolchain-${{ env.TOOLCHAIN }}-cargo-${{ hashFiles('**/Cargo.lock') }}

            #      - name: Set up JDK 17
            #        uses: actions/setup-java@v3
            #        with:
            #          java-version: '17'
            #          distribution: 'temurin'

      - name: Install gradle
        uses: gradle/gradle-build-action@v2.9.0

      - name: Run build with Gradle wrapper
        working-directory: ./crates/core/liveview-native-core-jetpack/
        run: ./gradlew build --scan
