name: Uniffi Swift Package Tests

on: pull_request

env:
  CARGO_TERM_COLOR: always
  TOOLCHAIN: nightly
  CARGO_MAKE_TOOLCHAIN: nightly

jobs:
  integration_tests:
    runs-on: macos-13 # This is the beta runner

    steps:
      - uses: actions/checkout@v4
      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.TOOLCHAIN }}
          components: rust-src
          targets:
            aarch64-apple-ios-sim
            aarch64-apple-ios
            x86_64-apple-ios
            aarch64-apple-darwin
            x86_64-apple-darwin

      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-make

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin
            ~/.cargo/git
            ~/.cargo/registry
            target
          key: ${{ github.workflow }}-${{ github.job }}-toolchain-${{ env.TOOLCHAIN }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build swift package
        uses: actions-rs/cargo@v1
        with:
          command: make
          args: uniffi-swift-package

      - name: Test swift package
        uses: actions-rs/cargo@v1
        with:
          command: make
          args: uniffi-swift-test # This also runs the uniffi-swift-package step.
